{% extends "base.html" %}
{% block titulo %}Welcome{% endblock %}
{% block script %}
    <!-- <script src="/static/js/cambiaColores.js"></script> --> 
{% endblock %} 
{% block estilos %}
   <link rel="stylesheet" href="/static/css/estiloVerificar.css">
{% endblock %}
{% block encabezado %}
<section id="" class="jumbotron">
    <h3>Bienvenido Usuario</h3>
</section>
{% endblock %}

{% block barra %}
<nav class="nav nav-pills nav-justified">
    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
    <a class="nav-link" href="{% url 'usuarioInicio' %}">Inicio</a>
    <a class="nav-link" href="{% url 'Firmar' %}">Firmar Archivo </a>
</nav>
{% endblock %}
{% block contenido %}

{% if errores %}
  {% for error in errores %}
    <div id="error" class="alert alert-danger">
      <strong>{{error}}</strong> 
    </div>
  {% endfor %}
{% endif %}

<section class="container">
    <form id="formularioArchivo" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <label for="nick">Ingresa el Nick del usuario para validar la firma</label>
                <input type="text" class="form-control" id="nick" placeholder="Enter Nick" name="nick" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="archivoOriginal">Selecciona el archivo original:</label>
                <input type="file" name="archivoOriginal" required>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <label for="archivoFirma">Selecciona el Archivo de la Firma:</label>
                <input type="file" name="archivoFirma" required>
            </div>
        </div>
        <button id='botonArchivo' type="submit">Subir Archivo</button>
    </form>
</section>
{% if invalido %}
<section class="container">
    <article class="alert alert-danger">
        {% for invalido in invalido %}  
            <h4>{{invalido}}</h4> 
        {% endfor %}             
{% endif %}

{% if valido %}
    <section class="container">
        <article class="alert alert-success"> 
        {% for  validado in valido %}  
            <h4>{{validado}}</h4> 
        {% endfor %}     
{% endif %}
{% endblock %}




